language: node_js
node_js:
  - "12"
dist: trusty
sudo: required

branches:
  only:
    - master

before_script:
  - npm install

script:
  - ng build --prod --base-href https://skcraft.herokuapp.com/

deploy:
  provider: heroku
  edge: true
  app:
    master: skcraft
  skip_cleanup: true