<div class="wrapper">
    <div class="padding page-title-container">
        <div class="container-md pt-5">
            <h1>Rules</h1>
            <hr />
          <p>
            These rules are not exhaustive; please follow the spirit of the rules.
          </p>
    
          <ul>
            <li>Be respectful to other users.</li>
            <li>Don't be disruptive. Continue disagreements in private chat.</li>
            <li>Don't use SKCraft as a place to advertise.</li>
            <li>Refrain from excess vulgar language.</li>
            <li>Sexually explicit content is prohibited.</li>
            <li>Using addons or other tools to gain an unfair advantage is not allowed. Minimaps are acceptable.</li>
            <li>Do not exploit bugs. Report them by contacting staff via private messages.</li>
            <li>Don't flood or fill chat with spam.</li>
            <li>You are always responsible for what happens on your account, regardless of who uses it.</li>
          </ul>

          <br />
          <br />
    
          <h2>No Theft on PvE Servers</h2>
          <p>
            Most of our servers are also PvE (player versus entity), so you may not damage other users'
            property or steal from them.
          </p>  
          <h2>Suspensions</h2>
          <p>
            Your SKCraft account might get suspended if you violate (or repeatedly violate) one of our rules.
            In such an incident, you can ask for more information or request a ban appeal
            by <a href="/community/conversations/add?to=sk89q">contacting us on the forums</a>
            (forum account required). Please provide some details when you send your message.
          </p>
        </div>
      </div>
</div>