<div class="wrapper">
    <div class="padding">
        <div class="container-md pt-5">
          <h1>Terms of Service</h1>
    
          <p>
            These Terms of Service ("Terms") govern your use of services, software, and websites (collectively
            the "Services") provided by SKCraft.
          </p>
    
          <p>
            By using the Services, you agree to be bound by these Terms and the <a href="{% url 'privacy' %}">Privacy Policy</a>.
          </p>
    
          <h2>Usage of the Services</h2>
    
          <p>
            By using the Services, you agree to use the Services as they were intended to be used.
            Do not attempt to disrupt the service, reduce its functionality, or bypass restrictions.
            You may use our Services only as permitted by law, including applicable export control laws and regulations.
          </p>
    
          <p>
            You agree to provide accurate and truthful information when you register for an account
            or fill out a form.
          </p>
    
          <p>
            You may not disassemble, decompile or reverse engineer the Services or attempt to assist another
            individual in such an endeavor.
          </p>
    
          <p>
            We reserve the right to suspend or stop providing our Services to you if you do not
            comply with these Terms or at our discretion.
          </p>
    
          <h2>Received Content</h2>
    
          <p>
            You understand that any text, images, videos, or other materials
            posted on the website ("Content") are the sole responsibility of the person from which the content originated.
            SKCraft makes no claims for the integrity, accuracy, or completeness of any Content made available
            via the Services.
          </p>
    
          <h2>Your Content</h2>
    
          <p>
            Some of the Services allows you to submit text, images, videos, and other materials and share this content with others.
            You retain the intellectual property rights that you hold of the content, but
            by uploading to the Services, you grant us a worldwide license to
            use, copy, reproduce, modify, adapt, publish, transmit, host, publicly perform, publicly display and distribute
            that content for the purposes of operating, promoting, and improving our Services. This license does not
            expire if you stop using the Services.
          </p>
    
          <p>
            You understand that SKCraft reserves the right to screen, filter, modify, refuse, or remove submitted
            content from the Services but has no obligation to screen, filter, modify, refuse, or remove content made available.
          </p>
    
          <h2>Disclaimer</h2>
    
          <p>
            The Services available are provided "as is." SKCraft provides no warranties of any kind, express or implied,
            including, without limitation, the warranties of title, merchantability, fitness for a particular
            purpose and non-infringement.	SKCraft makes no warranty that the Services will be error-free or access to the Services
            will be uninterrupted and continuous.
          </p>
    
          <h2>About The Terms</h2>
    
          <p>
            We reserve the right to modify these terms at any time.
          </p>
    
          <p>
            If some terms are found unenforceable, the other terms shall remain
            in full force and effect.
          </p>
        </div>
      </div>
</div>