@import '../../../assets/sass/paper-kit/variables';

.application-pending {
    font-size: x-large;
    color: $warning-color;
}

.application-accepted {
    font-size: x-large;
    color: $success-color;
}

.application-rejected {
    font-size: x-large;
    color: $danger-color;
}

.card-no-anim:hover {
    transform: none;
}

.card-bio:hover {
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}