<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register">
                        <h3 class="title">Welcome back!</h3>
                        <form *ngIf="!success" #f="ngForm" (ngSubmit)="login()">
                            <div class="form-group">
                                <label for="name" class="sr-only">Username</label>
                                <input type="text" id="name" name="name" [(ngModel)]="userLogin.userName"
                                    class="form-control" placeholder="Your name" required autoFocus>
                            </div>
                            <div class="form-group">
                                <label for="password" class="sr-only">Password</label>
                                <input type="password" id="password" name="password" [(ngModel)]="userLogin.password"
                                    class="form-control" placeholder="Password" aria-describedby="passwordHelp"
                                    required>
                                <small id="passwordHelp" class="form-text text-muted">Min. 6 characters with at least
                                    one non alphanumeric
                                    character</small>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block register-btn" type="submit"
                                [disabled]="!f.form.valid">
                                <span [hidden]="submitted">Login</span>
                                <div [hidden]="!submitted" class="spinner-grow text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </button>
                            <div *ngIf="error" class="alert alert-danger mt-3" role="alert">
                                <strong>Oops!</strong> {{error}}
                            </div>
                        </form>
                        <div class="forgot">
                            <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>