<!-- <mat-spinner [hidden]="newsList">
</mat-spinner>

<div *ngFor="let news of newsList">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{news.title}}</mat-card-title>
            <mat-card-subtitle>{{news.author}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content [innerHtml]="news.body">
        </mat-card-content>
        <mat-card-footer>
            {{news.dateAdded}}
        </mat-card-footer>
    </mat-card>
</div> -->