<div class="wrapper">
    <div class="padding">
        <div class="container-md pt-5">
          <h1>Privacy Policy</h1>
    
          <p><em>Last updated June 27, 2016.</em></p>
    
          <p>
            This Privacy Policy is meant to help you understand the type of information
            that we collect, why we collect it, and how we use it.
          </p>
    
          <h2>Information We Collect</h2>
    
          <p>
            There are several ways that we collect information:
          </p>
    
          <ul>
            <li><strong>Information that you give us.</strong> When using the website or
              our services, you may provide us with your own information. For example, when you register
              an account with us, you may provide your email address and date of birth. When
              providing this information, often times you can also choose whether you want
              to let others see this information.</li>
            <li>
              <strong>Information we collect when you use our services.</strong> We collect
              information such as what type of computer or device you are using (such as PC
              or phone), details about your device, data stored using cookies, the
              webpages that you access (as part of server logs), and your gameplay statistics.
            </li>
          </ul>
    
          <h2>How We Use Your Information</h2>
    
          <p>
            We collect this information to:
          </p>
    
          <ul>
            <li>Help improve the website and cater it towards our visitors. For example, if we see
              a lot of Linux users, we'll consider additional development in that area.</li>
            <li>Protect the website and services. We can use information such as IP addresses to
              detect spam bots.</li>
            <li>To provide you with personalized content. Your information can be used to show you
            results that are the most relevant to you or which of our game servers that you may be
              interested in.</li>
            <li>If you have chosen to, to show select information to other members.</li>
          </ul>
    
          <h2>How Information is Shared</h2>
    
          <p>
            We value your privacy and we will not share your personal information with third
            parties without first asking for your consent.
          </p>
          <p>
            For legal reasons however, we may need to share your information with law enforcement,
            organizations, or companies if we feel it is necessary to enforce applicable law,
            regulation, legal process or governmental request; enforce applicable Terms of Service;
            detect and prevent fraud; or to protect against harm of SKCraft, its members, property, or
            the general public.
          </p>
          <p>
            We may share anonymous, aggregated information with third parties. An example of that
            kind of data might be the percentage of SKCraft visitors that uses a PC.
          </p>
          <p>
            If SKCraft is involved in a change of ownership or merger, we will provide reasonable notice
            before personal information has been transferred.
          </p>
    
          <h2>How We Keep Your Information Secure</h2>
    
          <ul>
            <li>When visiting the website, your information is only transferred using SSL.</li>
            <li>We strictly control the number of SKCraft staff that can have access to this information.</li>
          </ul>
        </div>
      </div>
</div>