<div class="page-header section-dark"
     style="background-image: url('assets/img/skcraft/landing.png')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <div>
                    <img src="assets/img/skcraft/skcraft_logo.png"
                         alt=""
                         style="scale: 3;">
                </div>
                <!-- <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div> -->
                <div class="motto text-center">
                    <h3>Start designing your landing page here.</h3>
                    <br />
                    <a class="btn btn-outline-neutral btn-round"><i class="fab fa-discord"></i> Hop on Discord</a>
                    <button type="button"
                            class="btn btn-outline-neutral btn-round">Download our launcher</button>
                </div>
                <h2 class="presentation-subtitle text-center">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. <br />Suscipit neque quae ut reiciendis? </h2>
            </div>
        </div>
        <!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div> -->
        <h6 class="category-absolute arrow-down">
            <!-- <h6 class="category category-absolute">Designed and coded by -->
            <p class="scroll-down">
                <a class="animate"
                   (click)="scrollToAbout(whoAreWe)">More</a>
            </p>

        </h6>
    </div>
</div>
<div class="main"
     #whoAreWe>
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Who are we?</h2>
                    <h5 class="description">We are a gaming community, mainly focused on Minecraft, however we've had
                        services for ArmA and L4D2 previously. </h5>
                    <br>
                    <a href="#paper-kit"
                       class="btn btn-danger btn-round">See Details</a>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-album-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Beautiful Gallery</h4>
                            <p class="description">Spend your time generating new ideas. You don't have to think of
                                implementing.</p>
                            <a class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">New Ideas</h4>
                            <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                            <a class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Statistics</h4>
                            <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                            <a class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-sun-fog-29"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Delightful design</h4>
                            <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                            <a class="btn btn-link btn-danger">See more</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Our servers</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a><img src="./assets/img/skcraft/forge.jpg"
                                     alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a>
                                <div class="author">
                                    <h4 class="card-title">Alice 1.12</h4>
                                    <h6 class="card-category">Modded Survival</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Our development team has worked on creating a custom modpack, with a mix of magic, tech
                                and exploration. <br />
                                The modpack is sandbox-focused, meaning there are no quests.
                                <br />
                                For a modlist, go <a [routerLink]="[ '/modlist' ]">here.</a>
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                            <a class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                            <a class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a><img height="1px"
                                     src="./assets/img/skcraft/grass_block.png"
                                     alt="..."></a>
                        </div>
                        <div class="card-block">
                            <a>
                                <div class="author">
                                    <h4 class="card-title">Vincent 1.15</h4>
                                    <h6 class="card-category">Semi-Vanilla Survival</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Not feeling like modded? Join our vanilla server and have a classic vanilla experience,
                                with slight modifications.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                            <a class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                            <a class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-apply></app-apply>
</div>