
<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/skcraft/landing.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div>
                        <img src="assets/img/skcraft/skcraft_logo.png" alt="" style="scale: 3;">
                    </div>
                    <!-- <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div> -->
                </div>

                <h2 class="presentation-subtitle text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />Suscipit neque quae ut reiciendis? </h2>
            </div>
        </div>
        <!-- <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div> -->
        <h6 class=" category-absolute ml-auto mr-auto">
        <!-- <h6 class="category category-absolute">Designed and coded by -->

            <!-- <a href="https://www.creative-tim.com" target="_blank">
                <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">
            </a> -->
        </h6>
    </div>
</div>