<footer class="footer fixed-bottom">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.creative-tim.com">Apply Now</a></li>
                    <li><a href="http://blog.creative-tim.com">Discord</a></li>
                    <li><a [routerLink]="['/terms']">Terms of Service</a></li>
                    <li><a [routerLink]="[ '/privacy']">Privacy Policy</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made by the SKCraft Development Team
                </span>
            </div>
        </div>
    </div>
</footer>
