<footer class="footer fixed">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a class="btn btn-link"
                           [routerLink]="['/login']">Log In</a></li>
                    <li><a class="btn btn-link"
                           [routerLink]="['/signup']"
                           routerLinkActive="btn-danger">Sign Up</a></li>
                    <li><a class="btn btn-link"
                           [routerLink]="['/terms']"
                           routerLinkActive="btn-danger">Terms of Service</a></li>
                    <li><a class="btn btn-link"
                           [routerLink]="[ '/privacy']"
                           routerLinkActive="btn-danger">Privacy Policy</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made by the SKCraft Development Team
                    <a href="https://github.com/vectorman1/SKCraft.Web/"
                       target="_blank"><i class="fab fa-github"></i></a>
                </span>
            </div>
        </div>
    </div>
</footer>