<footer class="footer fixed-bottom">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a class="btn btn-link" [routerLink]="['/signup']">Log In</a></li>
                    <li><a class="btn btn-link" [routerLink]="['/signup']" routerLinkActive="btn-danger">Sign Up</a></li>
                    <li><a class="btn btn-link" [routerLink]="['/user/:session/']" routerLinkActive="btn-danger">Userdata</a></li>
                    <li><a class="btn btn-link" [routerLink]="['/terms']" routerLinkActive="btn-danger">Terms of Service</a></li>
                    <li><a class="btn btn-link" [routerLink]="[ '/privacy']" routerLinkActive="btn-danger">Privacy Policy</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made by the SKCraft Development Team
                </span>
            </div>
        </div>
    </div>
</footer>
